body {
	background-color: #000000;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}

h5 {
	color: #FFFFFF;
	margin: 0;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

p {
	color: #FFFFFF;
	width: 750px;
	text-align: justify;
	margin-left: 25px;
}

ul {
	color: #FFFFFF;
	width: 500px;
	text-align: justify;
}

.back {
	height: 80px;
	width: 80px;
	display: inline;
}

.paragraph {
	color: #FFFFFF;
	width: 500px;
	text-align: justify;
	text-indent: 50px;
	margin-left: 25px;

}
.row-top {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.row-bottom {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #000000;
    overflow: hidden;
    margin-left: 40px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.top {
	display: flex;
	flex-direction: row;
}

#bernstein {
	height: 400px;
	width: 595px;
	margin-left: 50px;
	margin-top: 50px;
}

#details {
	width: 200px;
	height: 60px;
	margin-left: 20px;
}

#summary {
	width: 900px;
	height: 60px;
	margin-left: 20px;
	text-align: justify;
}

#chapters {
    width: 359px;
    height: 522px;
    overflow: auto;
    background-color: #DEDEDE;
    margin-top: 16px;
    border: 2px solid #340449;
}

#document {
	height: 522px;
	margin-top: 16px;
}

#results-wrapper {
	height: 500px;
	width: 300px;
	background-color: #FFFFFF;
	display: inline;
    overflow: auto;
}

#search-bar {
	margin-left: 30px;
	height: 15px;
}

#searchbutton {
	height: 22px;
    width: 100px;
    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}